.event {
    position: absolute;
    left: 0px;
    width: calc(100% - 5px);
    line-height: 1rem;
    font-size: 0.8rem;
    padding: 0.5rem 2rem;
    color: var(--white);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s linear ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.event:hover {
    background-color: var(--gray-darker) !important;
}

.place {
    /* text-decoration: none; */
    transition: all 80ms linear;
    color: var(--white);
    font-size: 0.9rem;
    font-style: italic;
}

.list {
    margin-top: 0.7rem;
}

/* .place:hover {
    color: var(--black);
} */

#mapIcon {
    padding: 10px;
}

/* .shortEvent {
    padding: 0px 5px;
    font-size: 12px;
}

.veryShortEvent {
    margin-top: -1px;
    padding: 0px 5px;
    font-size: 10px;
} */