#eventModal .flipCardText {
    color: var(--white);
}

#eventModal .flip-card-front {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#eventModal a {
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-self: end;
}

#eventContent {
    overflow: scroll;
    grid-column: 1 / span 2;
    grid-row: 2 / span 4;
    padding: 0 50px;
    color: var(--white);
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    margin-bottom: 20px;
}

#eventContent .place {
    color: var(--black);
}

#eventContent .place:hover {
    color: var(--white);
}

#eventModal .eventControls {
    grid-column: 1 / span 2;
    grid-row: 6;
}

#eventModal .button {
    background-color: var(--white);
    color: var(--black);
}

#eventModal .button:hover {
    background-color: var(--yellow);
    color: var(--white);
}

@media (max-width: 800px) {
    #eventContent {
        color: var(--white);
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
    }
    
    #eventModal .flip-card {
        width: 90vw;
        height: 50vh;
    }
}