#confirmModal .flip-card-front, #confirmModal .flip-card-back {
    background-color: var(--white); 
}

#confirmModal .flipCardText {
    color: var(--black);
}

#confirmModal .flip-card-front {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#modalTitle {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    color: var(--black);
    text-align: center;
}

#confirmModal .eventControls {
    grid-column: 1;
    grid-row: 2;
    align-self: center;
}

#confirmModal .button {
    background-color: var(--blue);
    color: var(--white);
}

#confirmModal .button:hover {
    background-color: var(--yellow);
    color: var(--white);
}

@media (max-width: 800px) {
    #confirmModal .flip-card {
        width: 90vw;
        height: 50vh;
    }

    #modalTitle {
        height: 6vh;
        color: var(--black);
        text-align: center;
    }

    #confirmModal .yesButton:hover {
        background-color: var(--yellow);
        color: var(--white);
    }

    #confirmModal .noButton:hover {
        background-color: var(--blue);
        color: var(--white);
    }
}