#confirmModal .flip-card-front, #confirmModal .flip-card-back {
    background-color: var(--white); 
}

#confirmModal .flipCardText {
    color: var(--black);
}

#confirmModal .flip-card-front {
    display: grid;
    grid-template-rows: 4fr 1fr;
}

#modalTitle {
    align-self: center;
    color: var(--black);
    text-align: center;
}

#confirmModal .eventControls {
    align-self: center;
}

#confirmModal .button {
    background-color: var(--blue);
    color: var(--white);
}

#confirmModal .button:hover {
    background-color: var(--yellow);
    color: var(--white);
}

@media (max-width: 850px) {

    #modalTitle {
        height: 6vh;
        color: var(--black);
        text-align: center;
    }

    #confirmModal .yesButton:hover {
        background-color: var(--yellow);
        color: var(--white);
    }

    #confirmModal .noButton:hover {
        background-color: var(--blue);
        color: var(--white);
    }
}