<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <h2 id="modalTitle">Veux-tu effacer l'équipe?</h2>
            <div class="eventControls">
                <input type="button" value="Oui" class="button yesButton">
                <input type="button" value="Non" class="button noButton">
            </div>
        </div>     
        <div class="flip-card-back">
            <h2 class="flipCardText">Ça y est! Le groupe est effacé.</h2> 
        </div>
    </div>
</div>