#dataModal .flip-card-front {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
}

#dataModal .flip-card-front, #dataModal .flip-card-back {
    background-color: var(--gray-darkest); 
}

#dataModal .flipCardText {
    color: var(--white);
}

#dataModal a {
    grid-row: 1;
    justify-self: end;
}

#intro {
    grid-row: 2;
}

#firstName {
    grid-row: 3;
}

#lastName {
    grid-row: 4;
}

#phoneNumber {
    grid-row: 5;
}

.checkbox {
    grid-row: 6;
    display: flex;
    justify-content: center;
    padding-top: 0.7rem;
}

#dataModal .eventControls {
    grid-row: 7;
}

#dataModal .button {
    background-color: var(--white);
    color: var(--black);
}

#dataModal .button:hover {
    background-color: var(--yellow);
    color: var(--white);
}

#dataModal .shortInput {
    border: 1px solid var(--gray-base);
    background-color: var(--gray-darkest);
    color: var(--gray-base);
}

#dataModal .shortInput:focus {
    border-color: var(--white);
    color: var(--white);
}

#dataModal .shortInput::placeholder {
    color: var(--gray-base);
}

#dataModal .checkbox p, #intro {
    font-family: inherit;
    font-size: inherit;
    color: var(--white);
}

/* Checkbox */

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--yellow);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  

@media (max-width: 800px) {

    #dataModal .button:hover {
        background-color: var(--blue);
        color: var(--white);
    }
}