#dataModal .flip-card-front {
    display: grid;
    align-items: center;
    grid-template-rows: repeat(6, 1fr);
}

#dataModal .flip-card-front, #dataModal .flip-card-back {
    background-color: var(--gray-darkest); 
}

#dataModal .flipCardText {
    color: var(--white);
}

#dataModal .cancelButton{
    justify-self: end;
}

.checkbox {
    display: flex;
    justify-content: center;
}

#dataModal .button {
    background-color: var(--white);
    color: var(--black);
}

#dataModal .button:hover {
    background-color: var(--yellow);
    color: var(--white);
}

#dataModal .label {
  display: none;
  background-color: var(--white);
  color: var(--black);
}

#dataModal .shortInput {
    /* display: none; */
    border: 1px solid var(--gray-base);
    background-color: var(--gray-darkest);
    color: var(--gray-base);
}

#dataModal .shortInput:focus {
    border-color: var(--white);
    color: var(--white);
}

#dataModal .shortInput::placeholder {
    color: var(--gray-base);
}

#dataModal .checkbox p, #intro {
    font-family: inherit;
    font-size: inherit;
    color: var(--white);
}

/* Checkbox */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: var(--yellow);
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  

@media (max-width: 800px) {

    #dataModal .button:hover {
        background-color: var(--yellow);
        color: var(--white);
    }
}