#eventModal .flipCardText {
    color: var(--white);
}

#eventModal .flip-card-front {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 7fr 2fr;
}

#eventModal .cancelButton {
    justify-self: end;
}

#eventModal .time {
    color: var(--white);
    /* font-size: 15px; */
    font-style: italic;
    justify-self: center;
    align-self: center;
}

#eventModal .place {
    color: var(--black);
    font-style: italic;
}

#eventModal .place:hover {
    color: var(--white);
}

#typeIcon {
    margin-left: 20px;
    font-size: 30px;
    color: var(--black);
}

#eventModal .list {
    padding-left: 0;
    list-style-position: inside; 
}

#eventModal .members {
    overflow: auto;
    padding: 0 50px;
    color: var(--white);
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    margin-bottom: 20px;
}

#eventModal .button {
    background-color: var(--white);
    color: var(--black);
}

#eventModal .button:hover {
    background-color: var(--yellow);
    color: var(--white);
}

@media (max-width: 800px) {
    #eventModal .members {
        line-height: 2rem;
        font-size: 1rem;
    }
    
    #eventModal .flip-card {
        width: 90vw;
        height: 50vh;
    }

    #eventModal .button:hover {
        background-color: var(--yellow);
        color: var(--white);
    }

    #eventModal .editButton:hover {
        background-color: var(--white);
        color: var(--black);
    }
}