#eventModal .flipCardText {
    color: var(--white);
}

#eventModal .flip-card-front {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 7fr 2fr;
}

#eventModal .cancelButton {
    justify-self: end;
}

#eventModal .time {
    color: var(--white);
    font-style: italic;
    justify-self: center;
    align-self: center;
}

#eventModal .place {
    color: var(--black);
    font-style: italic;
    display: flex;
    justify-self: center;
    align-self: center;
}

#eventModal .place:hover {
    color: var(--white);
}

#eventModal img {
    margin-left: 20px;
    width: 40px;
    height: 40px;
}

#eventModal .list {
    padding-left: 0;
    /* list-style-position: inside;  */
}

#eventModal .members {
    overflow: auto;
    padding: 0 50px;
    color: var(--white);
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    margin-bottom: 20px;
}

#eventModal .button {
    background-color: var(--white);
    color: var(--black);
}

#eventModal .button:hover {
    background-color: var(--yellow);
    color: var(--white);
}

@media (max-width: 720px) {
    #eventModal .members {
        padding: 0 30px;
        line-height: 2rem;
        font-size: 1rem;
    }

    #eventModal .button:hover {
        background-color: var(--yellow);
        color: var(--white);
    }

    #eventModal .editButton:hover {
        background-color: var(--white);
        color: var(--black);
    }
}