<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <div class="upperButtons">
                <button type="button" class="shareButton">
                    <img src="/icons/share.svg" alt="">
                </button>
                <button type="button" class="cancelButton">
                    <div class="cross"></div>
                </button>
            </div>
            <div class="time"></div>
            <div class="place"></div>
            <div class="comment"></div>
            <div class="members"></div>          
            <div class="eventControls">
                <input type="button" value="S'inscrire" class="button joinButton">
                <input type="button" value="Annuler" class="button deleteButton">
                <input type="button" value="Éditer" class="button editButton">
            </div>   
        </div>
        <div class="flip-card-back">
            <h2 class="flipCardText">Bonne prédication!</h2> 
        </div>
    </div>
</div>