#eventModal .flipCardText {
    color: var(--white);
}

#eventModal .flip-card-front {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 9fr 2fr;
}

#eventModal .upperButtons {
    display: flex;
    justify-content: space-between;
}

#eventModal .time {
    color: var(--white);
    font-style: italic;
    justify-self: center;
    align-self: center;
}

#eventModal .place {
    color: var(--black);
    font-style: italic;
    display: flex;
    justify-self: center;
    align-self: center;
}

#eventModal .comment {
    display: none;
    color: var(--black);
}

#eventModal .place:hover {
    color: var(--white);
}

#eventModal img {
    margin-left: 20px;
    width: 40px;
}

#eventModal .list {
    list-style-position: inside; 
}

#eventModal .members {
    overflow: auto;
    color: var(--white);
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    margin-bottom: 20px;
}

#eventModal .button {
    background-color: var(--white);
    color: var(--black);
}

#eventModal .button:hover {
    background-color: var(--yellow);
    color: var(--white);
}

.shareButton {
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-left: 0!important;
}

.shareButton img {
    margin: 0!important;
    height: 30px!important;
    width: 30px!important;
}

@media (max-width: 720px) {
    #eventModal .members {
        line-height: 2rem;
        font-size: 1rem;
    }

    #eventModal .button:hover {
        background-color: var(--yellow);
        color: var(--white);
    }

    #eventModal .editButton:hover {
        background-color: var(--white);
        color: var(--black);
    }
}