#formModal .flip-card-front {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#formModal .flip-card-front, #formModal .flip-card-back {
    background-color: var(--white); 
}

#formModal .flipCardText {
    color: var(--black);
}

#formModal a {
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-self: end;
}

#place {
    grid-column: 1 / span 2;
    grid-row: 2;
}

#name {
    grid-column: 1 / span 2;
    grid-row: 3;
}

#date {
    grid-column: 1 / span 2;
    grid-row: 4;
}

#start {
    grid-column: 1;
    grid-row: 5;
    width: 90%;
}

#end {
    grid-column: 2;
    grid-row: 5;
    width: 90%;
    justify-self: end;
}

#formModal .eventControls {
    grid-column: 1 / span 2;
    grid-row: 6;
}

#formModal .button {
    background-color: var(--blue);
    color: var(--white);
}

#formModal .button:hover {
    background-color: var(--yellow);
    color: var(--white);
}

.input-group {
    position: relative;
}

input, select {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
}

.shortInput {
    border: 1px solid var(--gray-light);
    border-radius: 2px;
    background-color: var(--white);
    padding: 10px 20px;
    color: var(--gray-light);
    width: 100%;
}

.shortInput:focus {
    border-color: var(--blue);
    color: var(--black);
}

.shortInput::placeholder {
    color: var(--gray-light);
}

/* Alert */

.alert {
    background-color: var(--yellow);
    position: relative;
    width: 70%;
    visibility: hidden;
    color: var(--black);
    text-align: left;
}

#start .alert, #end .alert {
    width: 100%;
}
  
.show-message {
    visibility: visible !important;
}
  
.alert .arrow {
    position: absolute;
    top: -10px;
    left: 10px;
    border: 5px solid;
    border-color: transparent transparent var(--yellow) var(--yellow);
}

/* Errors */
#errors {
    /* font-family: inherit; */
    width: 100%;
    background-color: var(--yellow);
    grid-column: 1 / span 2;
    grid-row: 6;
    align-self: end;
    text-align: center;
    visibility: hidden;
    
}

.alert, #errors {
    font-size: 0.8rem;
    font-weight: 200;
    padding: 0.1rem;
    height: 20px;
}

@media (max-width: 800px) {
    #formModal .flip-card {
        width: 90vw;
        height: 50vh;
    }

    .shortInput {
        padding: 0.5vh 1vh;
    }

    .alert, #errors {
        height: 1rem;
        font-size: 0.7rem;
    }

    #formModal .button:hover {
        background-color: var(--blue);
        color: var(--white);
    }
}

/* Custom select */
    .custom-select select {
        display: none;
    }

    .select-items {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 99;
    }

    .select-selected:after {
        position: absolute;
        content: "";
        top: 25%;
        right: 15px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: var(--gray-light) transparent transparent transparent;
    }

    .select-selected.select-arrow-active:after {
        border-color: transparent transparent var(--gray-light) transparent;
        top: 7px;
    }

    .select-items div,.select-selected {
        text-align: left;
        padding: 10px 20px;
        width: 100%;
    }

    .select-items div {
        background-color: var(--blue);
        border: 1px solid var(--blue);
        color: var(--white);
    }

    .select-items div:hover {
        background-color: var(--gray-darker);
    }

    .select-selected {
        background-color: var(--white);
        border: 1px solid var(--gray-light);
        color: var(--gray-light)
    }

    .select-selected.select-arrow-active {
        border: 1px solid var(--blue);
        color: var(--black);
    }

    .select-hide {
        display: none;
    }

    .same-as-selected {
        display: none;
    }