#formModal .flip-card-front {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 2fr;
}

#formModal .flip-card-front, #formModal .flip-card-back {
    background-color: var(--white); 
}

#formModal .flipCardText {
    color: var(--black);
}

#formModal .cancelButton {
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-self: end;
}

#types {
    grid-row: 2;
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#type-1 {
   margin-right: 15px;
}

.type {
    display: flex;
    align-items: center;
} 

#place {
    grid-column: 1 / span 2;
    grid-row: 3;
}

#name {
    grid-column: 1 / span 2;
    grid-row: 4;
}

#date {
    grid-column: 1 / span 2;
    grid-row: 5;
    width: 100%;
}

#start {
    grid-column: 1;
    grid-row: 6;
    width: 90%;
}

#end {
    grid-column: 2;
    grid-row: 6;
    width: 90%;
    justify-self: end;
}

#formModal .eventControls {
    grid-column: 1 / span 2;
    grid-row: 7;
}

#errors {
    grid-column: 1 / span 2;
    grid-row: 7;
    align-self: end;
    width: 100%;
}

#formModal .button {
    background-color: var(--blue);
    color: var(--white);
}

#formModal .button:hover {
    background-color: var(--yellow);
    color: var(--white);
}

.shortInput {
    border: 1px solid var(--gray-light);
    background-color: var(--white);
    color: var(--gray-light);
}

.shortInput:focus {
    border-color: var(--blue);
    color: var(--black);
}

.shortInput::placeholder {
    color: var(--gray-light);
}

/* Custom radio */

#types label {
    width: 100%;
    padding-left: 15px;
    line-height: 20px;
    display: inline-block;
    color: var(--black);
}

#types input {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

#types input:before {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: var(--white);
}

#types input:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--blue);
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    transition: all 0.4s cubic-bezier(.45,1.8,.5,.75);
}

#types input:not(:checked):after {
    opacity: 0;
    transform: scale(0);
}

#types input:checked:after {
    opacity: 1;
    transform: scale(1);
}

/* Alert */

.alert {
    background-color: var(--yellow);
    position: relative;
    top: -10px;
    width: 70%;
    visibility: hidden;
    color: var(--black);
    text-align: left;
    border-radius: 0 2px 2px 2px;
}

#start .alert, #end .alert {
    width: 100%;
}
  
.show-message {
    visibility: visible !important;
}
  
.alert .arrow {
    position: absolute;
    top: -10px;
    left: 10px;
    border: 5px solid;
    border-color: transparent transparent var(--yellow) var(--yellow);
}

/* Errors */
#errors {
    background-color: var(--yellow);
    text-align: center;
    visibility: hidden;
    border-radius: 2px;
}

.alert, #errors {
    font-size: 14px;
    padding-left: 5px;
    height: 20px;
    line-height: 20px;
}

@media (max-width: 720px) {
    .select-items {
        height: 25vh;
    }

    #formModal .button:hover {
        background-color: var(--yellow);
        color: var(--white);
    }

    #formModal .deleteButton:hover {
        background-color: var(--blue);
        color: var(--white);
    }

    #eventDate {
        width: 70vw;
        padding: 7px 12px;
        height: 36px;
    }

    #eventStart, #eventEnd {
        width: 32vw;
        padding: 7px 12px;
        height: 36px;
    }

    .alert, #errors {
        /* font-weight: bold; */
        height: 1rem;
        font-size: 0.8rem;
        line-height: 1rem;
        padding-left: 0.5rem;
    }

    .alert {
        top: -0.3rem;
    }

    .alert .arrow {
        left: 0.3rem;
    }
}