#formModal .flip-card-front {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#formModal .flip-card-front, #formModal .flip-card-back {
    background-color: var(--white); 
}

#formModal .flipCardText {
    color: var(--black);
}

#formModal .cancelButton {
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-self: end;
}

#place {
    grid-column: 1 / span 2;
    grid-row: 2;
}

#name {
    grid-column: 1 / span 2;
    grid-row: 3;
}

#date {
    grid-column: 1 / span 2;
    grid-row: 4;
}

#start {
    grid-column: 1;
    grid-row: 5;
    width: 90%;
}

#end {
    grid-column: 2;
    grid-row: 5;
    width: 90%;
    justify-self: end;
}

#formModal .eventControls {
    grid-column: 1 / span 2;
    grid-row: 6;
}

#formModal .button {
    background-color: var(--blue);
    color: var(--white);
}

#formModal .button:hover {
    background-color: var(--yellow);
    color: var(--white);
}

.shortInput {
    border: 1px solid var(--gray-light);
    background-color: var(--white);
    color: var(--gray-light);
}

.shortInput:focus {
    border-color: var(--blue);
    color: var(--black);
}

.shortInput::placeholder {
    color: var(--gray-light);
}

/* Custom select */
.custom-select select {
    display: none;
}

.select-items {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    height: 250px;
    overflow: auto;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 25%;
    right: 15px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--gray-light) transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--gray-light) transparent;
    top: 7px;
}

.select-items div,.select-selected {
    text-align: left;
    width: 100%;
}

.select-items div {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    color: var(--white);
}

.select-items div:hover {
    background-color: var(--gray-darker);
}

.select-selected {
    background-color: var(--white);
    border: 1px solid var(--gray-light);
    color: var(--gray-light)
}

.select-selected.select-arrow-active {
    border: 1px solid var(--blue);
    color: var(--black);
}

.select-hide {
    display: none;
}

.same-as-selected {
    display: none;
}

@media (max-width: 800px) {
    .select-items {
        height: 25vh;
    }

    #formModal .button:active {
        background-color: var(--yellow);
        color: var(--white);
    }
}