<img src="/icons/emoji.png" alt="">
<p class="lead">Contact la personne responsable afin qu'elle puisse t'ajouter à un groupe dédié</p>
<div class="eventControls">
    <input type="button" value="Ok" class="button okButton">
</div>