

#headings {
    margin-left: 50px;

    position: sticky;
    top: 80px;
    display: flex;
    flex: 1;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    z-index: 5;
}

#main-headings, #prev-headings, #next-headings {
    display: flex;
    width: 100%;

    flex-shrink: 0;
}

.heading {
    font-size: 20px;
    padding: 10px 0px;
    height: 60px;
    text-align: center;
    width: 100%;
}

#weeks {
    display: flex;
    flex: 1;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    /* scroll-behavior: smooth; */
}

.main-week, .prev-week, .next-week {
    display: flex;
    width: 100%;

    scroll-snap-align: start;
    flex-shrink: 0;
}

.day {
    width: 100%;
}

.columnHeader {
    position: sticky;
    top: 80px;
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;
    height: 60px;
    background-color: var(--white);
    z-index: 1;
}

.day.currentDay .columnHeader, .day.currentDay .dayDisplay {
    color: var(--green);
}

.dayDisplay {
    font-size: 15px;
    color: var(--gray-darker);
}

/* slots */

.slots {
    position: relative;
    border-left: 1px solid var(--gray-lightest);
}

.slot,
.time {
    height: var(--slotHeight);
}

.time {
    position: relative;
    top: -8px;
    font-size: 14px;
    transition: all 0.5s linear ;
}

.slot {
    border-top: 1px solid var(--gray-lightest);
    background-color: var(--white);
    transition: all 0.5s linear ;
}

.slot:hover {
    cursor: pointer;
    background-color: var(--gray-light);
}

@media (max-width: 800px) {
    .slot,
    .time {
        height: var(--slotHeightMobile);
    }
}