/* log in */

#loginButton:hover .log-text, 
#loggedButton-name:hover .log-text {
    transform: scale(1.1);
}

#loginButton .log-text, 
#loggedButton-name .log-text {
    transition: all 80ms linear;
    line-height: 60px;
    height: 60px;
}

#loginButton:hover i, 
#loggedButton-name:hover i {
    transform: scale(1.5);
}

#logoutButton i {
    line-height: 30px;
    width: 60px;
    height: 30px;
    color: var(--white);
    font-size: 20px;
}

.log {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: all 80ms linear;
    align-items: center;
}

#log-data, #logoutButton {
    height: 40px;
}

#logoutButton:hover, #log-data:hover {
    background-color: var(--gray-lighter);
}

#logoutButton:hover .log-text, #logoutButton:hover i, #log-data:hover .log-text{
    color: var(--black);
}

#log-data {
    padding-left: 60px;
}

#loggedButton-name {
    display: none;
}

.log-text {
    color: var(--white);
    line-height: 30px;
    text-align: left;
    height: 30px;
    font-size: 15px;
    font-style: italic;
}

#dropdown {
    background-color: var(--gray);
    position: fixed;
    top: var(--headerHeight);
    right: 0;
    z-index: 3;
    height: var(--headerHeight);
    width: 200px;
    text-align: center;
    display: none;
}

.show-menu {
    display: block !important;
}

@media (max-width: 850px) {

    #loginButton i {
        font-size: 25px;
    }

    #loginButton i:hover {
        transform: scale(1);
    }

    #loginButton .log-text {
        display: none;
    }
    
    #loggedButton-circle {
        border-radius: 50%;
        margin-left: 15px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        background: white;
        border: 1px solid white;
        color: var(--gray-darker);
        text-align: center;
        font-size: 16px;
        display: none;
    }
}